NUMBER_OF_WORKERS=12

PROXY_USER=
PROXY_PASS=
PROXY_HOST=
PROXY_PORT=

CLICKS_PER_DAY=24_000

TARGETS=[{ "TARGET_URL": "https://clinquant-mooncake-8f42b1.netlify.app/", "POP_UID": "495779", "POP_WID": "746992" }, { "TARGET_URL": "https://dynamic-ganache-105660.netlify.app/", "POP_UID": "495781", "POP_WID": "746995" }, { "TARGET_URL": "https://moonlit-brioche-33ae15.netlify.app/", "POP_UID": "495784", "POP_WID": "746996" }, { "TARGET_URL": "https://mellow-lolly-9d11f7.netlify.app/", "POP_UID": "495787", "POP_WID": "746997" }]

POPCASH_WEBSITE=
POPCASH_CSRF=
POPCASH_COOKIE=

SILENT=0
VERBOSE=0
LOG_COOKIES=0
LOG_HEADERS=0
