NUMBER_OF_WORKERS=12

PROXY_USER=
PROXY_PASS=
PROXY_HOST=
PROXY_PORT=

CLICKS_PER_DAY=24_000

TARGETS=[{ "TARGET_URL": "https://example.com/", "POP_UID": "000000", "POP_WID": "111111" }]

POPCASH_WEBSITE=
POPCASH_CSRF=
POPCASH_COOKIE=

SILENT=0
VERBOSE=0
LOG_COOKIES=0
LOG_HEADERS=0
