PROXY_USER=
PROXY_PASS=
PROXY_HOST=
PROXY_PORT=
TARGET_URL=
POP_UID=
POP_WID=

NUMBER_OF_WORKERS=200

# PROXY_USER=asda81
# PROXY_PASS=6tNAMjlugRLU3Oh3
# PROXY_HOST=proxy.packetstream.io
# PROXY_PORT=31112

SILENT=1
VERBOSE=0
LOG_COOKIES=0
LOG_HEADERS=0